<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>

		<!-- Publish output folder -->
		<PublishDir>bin\Release\net8.0-windows\publish\</PublishDir>

		<!-- Ensure .NET 8 is used -->
		<TargetFramework>net8.0-windows</TargetFramework>

		<!-- Important: Bundle the .NET runtime -->
		<SelfContained>true</SelfContained>

		<!-- Target OS + Architecture -->
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>

		<!-- Publishing method -->
		<PublishProtocol>FileSystem</PublishProtocol>
		<_TargetId>Folder</_TargetId>
	</PropertyGroup>
</Project>
